<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
    <p>Create Comment</p>
    <form action="/api/comment" method="POST">
        <input type="text" name="username" placeholder="username"/><br />
        <input type="text" name="body" placeholder="body" /><br />
        <input type="submit" value="Create Zone">
    </form>
  </body>
</html>
