<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
    <p>Create Zone</p>
    <form action="/api/zone" method="POST">
        <input type="text" name="name" placeholder="ZoneName"/><br />
        <input type="text" name="ZipCodes" placeholder="Zipcode" /><br />
        <input type="submit" value="Create Zone">
    </form>
  </body>
</html>
